VITE_APP_NAME=Buckshot Tracker
VITE_APP_VERSION=4.3.0

VITE_BRAND_NAME=Guarnold
VITE_BRAND_URL=https://guarnold.com.ar
VITE_REPO_URL=https://github.com/Facundo-Guarnier/buckshot-tracker-pro
VITE_BRAND_SIGNATURE=/assets/guarnold_firma.png